<nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-default"></nav>


<div  style="height:250px;overflow:auto;" class="pos">
    
    <table class="styled-table" *ngIf="logRecords.length > 0">
        <thead style>
            <tr>
                <th>TimeStamp </th>
                <th>Text Entered </th>
            </tr>
        </thead>
        <tbody>
            <tr class="active-row" *ngFor="let record of logRecords">
                <td>{{ record.character_entered_at_time | date:'short' }}</td>
                <td>{{record.text}}</td>
            </tr>
        </tbody>
    </table>
</div>

