h1,
h2
{
    color: rgb(28, 0, 128);
    
}

textarea,
input
{
color:red;
font-size: 30px;
}
.pos
{
margin-left:670px;

}

h1,
h2,
input{
    position: relative;
    top:90px;
}